html {
    position: relative;
    min-height: 100%;
    height: 100px;
    
  }
  
  body {
    height: 100%;
    margin-bottom: 60px; /* Margin bottom by footer height */
  
  }

  .card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.03), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
  }
   
  #view {
    padding-left: 250px;
  }
  
  .header {
    padding-top: 0;
  }
  
  section {
    padding: 150px 0;
  }
  
  nav .navbar-nav .nav-link,
  nav .navbar-brand {
     color: #000;
  }
  
  .home-left {
    background-color: #3d5199;
    height: 750px;
  }
  
  .brand-title {  
    padding-top: 50px;
    font-family: poppins;
  }

  .brand-list {
    padding-left: 200px;
    padding-top: 10px;
    font-family: poppins;
  }
  
  /* .brand-subtitle {
    padding-left: 220px;
    padding-top: 50px;
    font-family: poppins;
  } */
  
  .login, .register {
    padding-left: 180px;
    padding-top: 40px;
    font-family: poppins;
  
  }
  
  .register {
    display: none;
  }

  .footer-text {
    padding-left: 350px;
  }
  
  .tableHead {
    color: white;
  }

  .container{
    font-family: poppins;

  }

  #registerBtn, #loginBtn{
    text-decoration: none;
    font-weight: bold;
    padding-left: 0px;
  }

  #passW{
   margin-top: 15px;
  }

  .editPost{
    margin-right: 10px;
  }

  #errorLogin{
    font-size: small;
    font-weight: bold;
  }

  /* .footer {
    width: 100%;
    position: fixed;
    bottom: 0;
  } */
  
  